body {
    background-color: #EAD2AC;
    font-family: 'Oswald', sans-serif;
    font-size: 1em !important;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Quattrocento', serif;
    font-size: 1em;
}

header {
    background-color: #EABA6B;
    color: #003b52;
}

main {
    min-height: 60vh;
    height: auto;
    background-color: #A3C9A8;
}

main.container {
    background-color: #EAD2AC;
}

input {
    height: 2em;
}

button {
    box-shadow: none;
    border: none;
    background-color: #00ABE7;
    font-family: 'Mulish', sans-serif !important;
    font-size: 16px;
    color: white;
}

button:hover {
    background-color: #2DC7FF;
}

.coffee {
    width: 95%;
    box-shadow: 4px 4px 5px 0 rgba(0, 129, 175, 0.49);
    background-color: #00ABE7;
    color: white;
}

.coffee:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
    background-color: #2DC7FF;
    box-shadow: 6px 6px 5px 0 rgba(0, 129, 175, 0.49);
}

.coffee:active {
    position: relative;
    bottom: 1px;
    right: 1px;
    background-color: #2DC7FF;
    box-shadow: 5px 5px 5px 0 rgba(0, 129, 175, 0.49);
}

@media screen and (width <= 576px) {
    .coffee {
        width: 95%;
        box-shadow: 2px 2px 5px 0 rgba(0, 129, 175, 0.49);
    }

    .coffee:hover {
        position: sticky;
        background-color: #00ABE7;
        box-shadow: 2px 2px 5px 0 rgba(0, 129, 175, 0.49);
    }

    .coffee:active {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 1px 1px 5px 0 rgba(0, 129, 175, 0.49);
        background-color: #2DC7FF;
    }
}
