body {
    background-color: #EAD2AC;
    font-family: 'Fauna One', serif;
    font-size: 1em !important;
}

h1,
h2,
h3 {
    font-family: 'Cinzel', cursive;
}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

header {
    background-color: #EABA6B;
    color: #003b52;
}

main {
    min-height: 70vh;
    height: auto;
    background-color: #A3C9A8;
}

main.container {
    background-color: #EAD2AC;
}

input {
    height: 2em;
}

button {
    box-shadow: none;
    border: none;
    background-color: #00ABE7;
    font-family: 'Mulish', sans-serif !important;
    font-size: 16px;
    color: white;
}

button:hover {
    background-color: #2DC7FF;
}

.coffee {
    width: 95%;
    box-shadow: 6px 6px 0 0 #0081AF;
    background-color: #00ABE7;
}

.coffee:hover {
    position: relative;
    top: 2px;
    left: 2px;
    background-color: #2DC7FF;
    box-shadow: 4px 4px 0 0 #0081AF;
}

.coffee:active {
    position: relative;
    top: 3px;
    left: 3px;
    background-color: #2DC7FF;
    box-shadow: 3px 3px 0 0 #0081AF;
}

@media screen and (width <= 576px) {
    .coffee {
        width: 95%;
        box-shadow: 2px 2px 0 0 #0081AF;
    }

    .coffee:hover {
        position: sticky;
        background-color: #444337;
        box-shadow: 2px 2px 0 0 #0081AF;
    }

    .coffee:active {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 1px 1px 0 0 #0081AF;
    }
}
