body {
    background-color: #d5d5d5 !important;
    font-family: 'Mulish', sans-serif !important;
    font-size: 1em !important;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    font-size: 46px;
}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

header {
    background-color: #8CADA7;
    color: #110B11;
}

main {
    min-height: 70vh;
    height: auto;
}

main.container {
    background-color: #A5D0A8;
}

input {
    height: 2em;
}

button {
    box-shadow: none;
    border: none;
    background-color: #B7990D;
    font-family: 'Mulish', sans-serif !important;
    font-size: 16px;
    color: #110B11;
}

button:hover {
    background-color: #cbad24;
}

.coffee {
    width: 95%;
    background-color: #110B11;
    box-shadow: 3px 3px 0 0 #000000;
    color: #B7990D;
}

.coffee:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
    background-color: #251825;
    box-shadow: 4px 4px 0 0 #000000;
}

.coffee:active {
    position: relative;
    top: 1px;
    left: 1px;
    background-color: #251825;
    box-shadow: 1px 1px 0 0 #000000;
}

@media screen and (width <= 576px) {
    .coffee {
        width: 95%;
        box-shadow: 2px 2px 0 0 #000000;
    }

    .coffee:hover {
        position: sticky;
        background-color: #110B11;
        box-shadow: 2px 2px 0 0 #000000;
    }

    .coffee:active {
        position: relative;
        top: 1px;
        left: 1px;
        background-color: #251825;
        box-shadow: 1px 1px 0 0 #000000;
    }
}
