table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.input-group{
    display: flex;
    align-content: end;
}
#name-selector.input-group-sm{

}

button{
    display: flex;
    align-self: inherit;
}

#search-form{
    display: flex;
}

#add-coffee-form{
    display: flex;
    align-items: center;

}

#all-forms{
    display: flex;
   align-items: center;
}

#coffees{

}

